[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
requests = "*"
sounddevice = "*"
scipy = "*"
pymongo = "*"
speechbrain = "*"
torchaudio = "*"
torch = "*"
python-dotenv = "*"


[dev-packages]
pytest = "*"
coverage = "*"